<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.yf.pet.user.impl"/>
    <aop:aspectj-autoproxy expose-proxy="true"/>

    <!-- 邮件服务器 start -->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="protocol" value="${email.protocol}"/>
        <property name="host" value="${email.host}"/>
        <property name="port" value="587"/>
        <property name="username" value="${email.username}"/>
        <property name="password" value="${email.password}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${email.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${email.starttls}</prop>
            </props>
        </property>
    </bean>
    <bean id="petEmailService" class="com.yf.pet.user.impl.PetEmailService">
        <property name="javaMailSender" ref="javaMailSender"></property>
        <property name="systemEmail" value="${email.systemEmail}"></property>
    </bean>
    <!-- 邮件服务器 end -->

    <!--加载配置xml文件-->
    <import resource="classpath:spring/jdbc.xml"/>
    <import resource="classpath:spring/cacheContext.xml"/>
    <import resource="classpath:spring/dubbo.xml"/>

</beans>