<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>固件查询</title>
    <meta name="description" content="固件查询">
    <link rel="stylesheet" href="../../accset/common/amazeui/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../accset/common/amazeui/plugins/css/amazeui.datatables.css"/>
    <link href="../../accset/common/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../accset/common/base/base.css" rel="stylesheet"/>
    <style type="text/css">
        .am-yf-table th,
        .am-yf-table td {
            /*width: 200px !important;*/
            word-wrap: break-word;
            word-break: break-all;
        }

        .am-yf-table .am-yf-min-width {
            width: 9% !important;
        }

        .am-yf-table .am-yf-max-width {
            width: 11% !important;
        }

        th.sorted.ascending:after {
            content: "\2191";
        }

        th.sorted.descending:after {
            content: "\2193";
        }

        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc,
        table.dataTable thead .sorting_asc_disabled,
        table.dataTable thead .sorting_desc_disabled {
            background-repeat: no-repeat;
            background-position: center right;
        }

        table.dataTable thead .sorting {
            background-image: url("../../accset/common/amazeui/plugins/images/sort_both.png")
        }

        table.dataTable thead .sorting_asc {
            background-image: url("../../accset/common/amazeui/plugins/images/sort_asc.png")
        }

        table.dataTable thead .sorting_desc {
            background-image: url("../../accset/common/amazeui/plugins/images/sort_desc.png")
        }

        table.dataTable thead .sorting:after {
            opacity: 0.2;
            content: "";
        }

        table.dataTable thead .sorting_asc:after {
            opacity: 0.2;
            content: "";
        }

        table.dataTable thead .sorting_desc:after {
            opacity: 0.2;
            content: "";
        }
    </style>

</head>
<body>
<h4>查询固件信息</h4>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
<div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12 am-yf-table">
        <!--<div class="col-sm-12 col-md-12 col-lg-12">-->
        <!--<button type="button" class="btn btn-primary " onclick="queryFeedbacks()">-->
        <!--查询-->
        <!--</button>-->
        <!--</div>-->
        <div class="form-group form-inline">
            <label class="col-md-2 text-right yflabel" for="firmwareType">系统类型</label>
            <select class="form-control col-md-2" name="firmwareType" id="firmwareType">
                <!--<option>全部</option>-->
                <!--<option>coros-m1</option>-->
            </select>
            <label class="col-md-2 text-right yflabel" for="systemType">系统类型</label>
            <select class="form-control col-md-2" name="systemType" id="systemType">
                <option value="0">全部</option>
                <option value="1">Android</option>
                <option value="2">IOS</option>
            </select>
            <label class="col-md-2 text-right yflabel" for="releaseType">发布类型</label>
            <select class="form-control col-md-2" name="releaseType" id="releaseType">
                <option value="0">全部</option>
                <option value="1">发布版本</option>
                <option value="2">公测版本</option>
                <option value="3">内测版本</option>
            </select>

            <button id="findBtn" class="btn btn-success">查询</button>
        </div>
        <table class="am-table am-table-striped am-table-bordered am-table-compact" cellspacing="0" width="100%" id="firmwareTable">
            <thead>
            <tr>
                <th class="am-yf-min-width">固件类型</th>
                <th class="am-yf-min-width">固件版本</th>
                <th class="am-yf-min-width">操作系统</th>
                <th class="am-yf-min-width">发布类型</th>
                <th class="am-yf-min-width">是否强制更新</th>
                <th class="am-yf-min-width">添加人</th>
                <th class="am-yf-max-width">添加时间</th>
                <th class="am-yf-min-width">删除</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th class="am-yf-min-width">固件类型</th>
                <th class="am-yf-min-width">固件版本</th>
                <th class="am-yf-min-width">操作系统</th>
                <th class="am-yf-min-width">发布类型</th>
                <th class="am-yf-min-width">是否强制更新</th>
                <th class="am-yf-min-width">添加人</th>
                <th class="am-yf-max-width">添加时间</th>
                <th class="am-yf-min-width">删除</th>
            </tr>
            </tfoot>
        </table>
    </div>

    <!--删除确认窗口-->
    <div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">删除确认</h4>
                </div>
                <div class="modal-body">你确定要删除固件吗？</div>
                <div class="modal-footer">
                    <button id="deleteOkBtn" type="button" class="btn btn-default">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>


<script src="../../accset/common/jquery-2.1.4.js"></script>
<script src="../../accset/common/amazeui/plugins/js/amazeui.datatables.js"></script>
<script src="../../accset/common/bootstrap-3.3.5/js/bootstrap.js"></script>

<script>
    /**
     *初始化
     */
    var accessToken='';
    $(function () {
        // 1. 获得token
        accessToken = sessionStorage.getItem('accessToken');
        if (accessToken == undefined || accessToken.trim() === '') {
            location.href = "../login.html";
        }

        // 2. 绑定事件
        $('#findBtn').click(function () {
            queryFirmwareList(accessToken);
        });
        // 3. 查询固件类型
        findFirmwareType();
    })

    var firstInit=true;
    //固件table对象
    var firmwareTable;
    /**
     * 查询问题反馈信息
     */
    function queryFirmwareList() {
        // post请求url传值
        var postParamters='';
        var firmwareType=$('#firmwareType').val();
        if('全部'!=firmwareType){
            postParamters='&firmwareType='+firmwareType;
        }
        var systemType=$('#systemType').val();
        if(0!==systemType){
            postParamters+='&systemType='+systemType;
        }
        var releaseType=$('#releaseType').val();
        if(0!==releaseType){
            postParamters+='&releaseType='+releaseType;
        }
        if(firmwareTable!=undefined){
            firmwareTable.clear().draw();
        }

        firmwareTable = $('#firmwareTable').DataTable({
//            retrieve: true,
//            processing: true,
//            errMode: 'throw',
//            width: '600px',
            destroy: true,
            searching: true,
            ajax: {
                type: 'POST',
                url: '/coros/firmware/list/find.do?accessToken=' + accessToken + postParamters,
                // TODO json传值会被转码,目前只能用url传值
//                contentType: 'application/json',//传递参数类型
//                data: JSON.stringify({firmwareType:firmwareType,systemType:systemType,releaseType:releaseType}),
                dataType: "json",// 接收参数类型
                dataSrc: function (data) {
                    if (data && data.result === "0000") {
//                        操作列初始化
                        if(firstInit){
                            tableInIt();
                            firstInit=false;
                        }
                        return data.data;
                    } else if (data.result == "0004" || data.result == "0003") {
                        location.href = "../login/login.html";
                    } else if (data) {
                        console.log(data.message);
//                        return false;
                    }
                }
            },
            columns: [
                {data: 'firmwareType'},
                {data: 'firmwareVersion'},
                {
                    data: 'systemType',
                    render: function (data, type, full, meta) {
                        switch (data) {
                            case 1:
                                return 'Android';
                                break;
                            case 2:
                                return 'IOS';
                                break;
                        }
                    }
                },
                {
                    data: 'releaseType',
                    render: function (data, type, full, meta) {
                        switch (data) {
                            case 1:
                                return '发布版本';
                                break;
                            case 2:
                                return '公测版本';
                                break;
                            case 3:
                                return '内测版本';
                                break;
                        }
                    }
                },
                {
                    data: 'forceUpdate',
                    render: function (data, type, full, meta) {
                        switch (data) {
                            case 1:
                                return '是';
                                break;
                            default:
                                return '否';
                                break;
                        }
                    }
                },
                {data: 'addUser'},
                {data: 'addTime'},
                {
                    data: 'isShow',
                    render: function (data, type, full, meta) {
                        // 1. 添加删除按钮
                        return '<a class="deletelink" href="javascript:void(0)" onclick=deleteFirmware("' + accessToken + '","' + full.idStr + '");>删除</a>';
                    }
                }
            ]
        })
    }

//    /**
//     *table 操作列初始化
//     * */
    function tableInIt() {
        //2. 删除列
//        $('#firmwareTable tbody').on('click', '.deletelink', function () {
////            方法二
////            firmwareTable.row($(this).parents('tr')).remove().draw();
//        });
        $('#firmwareTable tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                firmwareTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );
    }
    /**
     *把问题逻辑删除
     * @param accessToken token
     * @param id 问题id
     */
    function deleteFirmware(accessToken, idStr) {
        $("#recordModal").on('show.bs.modal', function () {
            // 弹出框OK按钮绑定事件处理
            $("#deleteOkBtn").on('click', function () {
                // 删除表格中的数据
//                firmwareTable.row().remove().draw();
//                firmwareTable.rows('.selected').remove().draw()
                firmwareTable.row('.selected').remove().draw(false);
                // 1. 查询固件数据
                $.ajax({
                    type: "POST",
                    url: "/coros/firmware/delete.do?accessToken=" + accessToken + "&id=" + idStr,
                    dataType: "json",// 接收参数类型
                    success: function (data) {
                        $("#recordModal").modal('hide');
                        if (data && data.result === "0000") {

                            console.log("ok")
                        } else if (data) {
                        }
                    },
                    error: function (xhr, errorInfo, ex) {
                        $("#recordModal").modal('hide');
                        show.append('error invoke!errorInfo:' + errorInfo + '<br/>');
                    }
                });
            });
        });
        $("#recordModal").modal('show')
    }

    /**
     *把固件类型下啦列表
     * @param accessToken token
     */
    function findFirmwareType() {
                // 1. 查询固件数据
                $.ajax({
                    type: "POST",
                    url: "/coros/firmware/type/find.do?accessToken=" + accessToken,
                    dataType: "json",// 接收参数类型
                    success: function (data) {
                        $("#firmwareType").append("<option>全部</option>");
                        if (data && data.result === "0000") {
                            // 添加选型
                            $.each(data.data,function (i) {
                                $("#firmwareType").append("<option>"+data.data[i]+"</option>");
                                //.appendTo("#BtnCodeStr .selectpicker");//这里它才知道是给谁#BtnCodeStr 的.selectpicker
                            })
                            console.log("ok")
                        } else if (data) {
                        }
                    },
                    error: function (xhr, errorInfo, ex) {
                        $("#recordModal").modal('hide');
                        show.append('error invoke!errorInfo:' + errorInfo + '<br/>');
                    }
                })
    }

</script>
</body>
</html>
