<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 账户信息mapper -->
<mapper namespace="com.yf.pet.dao.usertemporary.AccountTemporaryDao">
    <!-- 用户账户map对象 -->
    <resultMap id="UserAccountMap" type="com.yf.pet.entity.user.Account">
        <result column="user_id" property="userId"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="facebook_id" property="facebookId"/>
        <result column="weixin_id" property="weixinId"/>
        <result column="pwd" property="pwd"/>
        <result column="access_token" property="accessToken"/>
        <result column="validity_date" property="validityDate"/>
        <result column="register_type" property="registerType"/>
        <result column="client_type" property="clientType"/>
        <result column="login_type" property="loginType"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="temporary_type" property="temporaryType"/>
    </resultMap>

    <!-- 新增用户账户信息 -->
    <insert id="addAccountTemporary" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO
        t_user_temporary(user_id,email,pwd,register_type,client_type,ip_address,create_date,update_date)
        VALUES(#{userId},#{email},#{pwd},#{registerType},#{clientType},#{ipAddress},#{createDate},#{updateDate})
	</insert>

    <!--修改用户帐号信息-->
    <update id="updateAccountTemporary">
        UPDATE t_user_temporary
        <set>
            <if test="pwd != null and pwd != '' ">
                pwd = #{pwd},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        <where>
            user_id = #{userId}
            and email = #{email}
        </where>
    </update>


    <!--根据用户id查询帐号信息-->
    <select id="findAccountTemporaryByUserId" resultMap="UserAccountMap">
        SELECT user_id,email,pwd,register_type,client_type,ip_address,create_date,update_date
        FROM t_user_temporary
        WHERE user_id=#{userId}
    </select>

    <!--根据邮箱地址查询帐号信息-->
    <select id="findAccountTemporaryByUserIdAndEmail" resultMap="UserAccountMap">
        SELECT user_id,email,pwd,register_type,client_type,ip_address,create_date,update_date
        FROM t_user_temporary
        WHERE user_id = #{userId}
              AND email=#{email}
    </select>

    <!--删除临时帐号-->
    <delete id="deleteAccountTemporaryByUserId">
        DELETE FROM t_user_temporary
        WHERE user_id = #{userId}
    </delete>

    <select id="findLastEmailByUserId" resultType="java.lang.String">
        SELECT email FROM t_user_temporary
        WHERE user_id = #{userId}
        ORDER BY create_date DESC
        LIMIT 1
    </select>

</mapper>