<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sos短信管理mapper -->
<mapper namespace="com.yf.pet.dao.sossms.SmsDao">
    <!-- sos短信发送限制map对象 -->
    <resultMap id="sosLimitMap" type="com.yf.pet.entity.sossms.SmsLimit">
        <result column="userid" property="userId"/>
        <result column="lasttime" property="lastTime"/>
        <result column="times" property="times"/>
        <result column="sumtimes" property="sumTimes"/>
        <result column="smstype" property="smsType"/>
    </resultMap>

    <!-- 添加短信发送统计信息 -->
    <insert id="addSmsLimit">
		INSERT INTO t_sms_limit(userid,lasttime,times,sumtimes,smstype)
		VALUES(#{userId},#{lastTime},#{times},#{sumTimes},#{smsType})
	</insert>

    <!-- 当天内短信发送次数累加 -->
    <update id="updateSmsTimesAddUp">
		UPDATE t_sms_limit
		SET lasttime = #{lastTime},
			times = times + 1,
			sumtimes = sumtimes + 1
		WHERE userid = #{userId}
			AND smstype = #{smsType}
	</update>

    <!-- 初始化短信发送次数，因为第一天的发送次数，到了第二天用户发送sos短信的时候次数要初始化 -->
    <update id="updateSmsInit">
		UPDATE t_sms_limit
		SET lasttime = #{lastTime},
			times =  1,
			sumtimes = sumtimes + 1
		WHERE userid = #{userId}
			AND smstype = #{smsType}
	</update>

    <!-- 根据用户id查询用户发送sos短信的统计数据 -->
    <select id="findSmsTimsByUserId" resultMap="sosLimitMap">
		SELECT userid,lasttime,times,sumtimes
		FROM t_sms_limit
		WHERE userid = #{userId}
			AND smstype = #{smsType}
	</select>

</mapper>