<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户时区变更记录信息mapper -->
<mapper namespace="com.yf.pet.dao.user.UserTimezoneModifyDao">
    <!-- 用户时区变更记录信息map对象 -->
    <resultMap id="UserTimezoneMap" type="com.yf.pet.entity.user.UserTimezoneModify">
        <result column="user_id" property="userId"/>
        <result column="timezone" property="timezone"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 新增用户时区变更记录信息 -->
    <insert id="addUserTimezone">
	    INSERT INTO t_user_timezone_modify(user_id,timezone,create_time)
	    VALUES(#{userId},#{timezone},#{createTime})
    </insert>

</mapper>