<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户信息mapper -->
<mapper namespace="com.yf.pet.dao.user.UserInfoDao">
    <!-- 用户信息map对象 -->
    <resultMap id="UserInfoMap" type="com.yf.pet.entity.user.UserInfo">
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="sex" property="sex"/>
        <result column="stature" property="stature"/>
        <result column="weight" property="weight"/>
        <result column="birthday" property="birthday"/>
        <result column="head_pic" property="headPic"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="timezone" property="timezone"/>
        <result column="register_timezone" property="registerTimezone"/>
        <result column="register_timestamp" property="registerTimestamp"/>
        <result column="timezone" property="timezone"/>
        <result column="country_code" property="countryCode"/>
        <result column="unit" property="unit"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_date" property="createDate"/>
        <result column="first_day_of_week" property="firstDayOfWeek"/>
        <result column="contacts_mobile" property="contactsMobile"/>
        <result column="contact_country_code" property="contactCountryCode"/>
        <result column="phone_code" property="phoneCode"/>
        <result column="contact_note" property="contactNote"/>

    </resultMap>

    <!-- 新增用户信息 -->
    <insert id="addUserInfo">
        INSERT INTO
        t_user_info(user_id,nickname,sex,stature,weight,birthday,head_pic,longitude,latitude,timezone,register_timezone,
        register_timestamp,country_code,unit,update_date,create_date,first_day_of_week)
	    VALUES(#{userId},#{nickname},#{sex},#{stature},#{weight},#{birthday},#{headPic},#{longitude},#{latitude},#{timezone},
	    #{registerTimezone},#{registerTimestamp},#{countryCode},#{unit},#{updateDate},#{createDate},#{firstDayOfWeek})
	</insert>

    <!--修改用户信息-->
    <update id="updateUserInfoByUserId">
        UPDATE t_user_info
        <set>
            <if test="nickname != null and nickname != '' ">
                nickname=#{nickname},
            </if>
            <if test="sex != null ">
                sex=#{sex},
            </if>
            <if test="stature != null and stature != 0 ">
                stature=#{stature},
            </if>
            <if test="weight != null and weight != 0 ">
                weight=#{weight},
            </if>
            <if test="birthday != null and birthday != 0 ">
                birthday=#{birthday},
            </if>
            <if test="headPic != null and headPic != '' ">
                head_pic=#{headPic},
            </if>
            <if test="longitude != null and longitude != '' ">
                longitude=#{longitude},
            </if>
            <if test="latitude != null and latitude != '' ">
                latitude=#{latitude},
            </if>
            <if test="countryCode != null and countryCode != '' ">
                country_code=#{countryCode},
            </if>
            <if test="unit != null">
                unit=#{unit},
            </if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>

    <!-- 根据id修改用户详细信息，修改紧急联系人电话 -->
    <update id="updateUserToContact">
        UPDATE t_user_info
        <set>
            <if test="contactsMobile != null and contactsMobile != ''">
                contacts_mobile = #{contactsMobile},
            </if>
            <if test="phoneCode != null and phoneCode != ''">
                phone_code=#{phoneCode},
            </if>
            <if test="contactCountryCode != null and contactCountryCode != ''">
                contact_country_code = #{contactCountryCode},
            </if>
            contact_note = #{contactNote}
        </set>
        WHERE user_id=#{userId}
    </update>

    <!--根据用户id查询用户信息-->
    <select id="findUserInfoByUserId" resultMap="UserInfoMap">
        SELECT
        user_id,nickname,sex,stature,weight,birthday,head_pic,longitude,latitude,timezone,register_timezone,
        register_timestamp,country_code,unit,first_day_of_week,contacts_mobile,contact_country_code,phone_code,contact_note
        FROM t_user_info
        WHERE user_id = #{userId}
    </select>

    <!--根据用户id列表查询用户主要信息列表-->
    <select id="findSimpleUserInfoListByUserId" resultMap="UserInfoMap">
        SELECT
        user_id,nickname,head_pic
        FROM t_user_info
        <where>
            <foreach collection="list" item="item" index="index" separator="or">
                user_id = #{item}
            </foreach>
        </where>
    </select>

    <!--修改用户当前所在时区信息-->
    <update id="updateTimezoneByUserId">
        UPDATE t_user_info
        SET timezone = #{timezone}
        WHERE user_id = #{userId}
    </update>


</mapper>