<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 设备激活信息mapper -->
<mapper namespace="com.yf.pet.dao.wristband.WristbandInfoDao">
    <!-- 设备激活信息map对象 -->
    <resultMap id="WristbandUserMap" type="com.yf.pet.entity.wristband.WristbandInfo">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="mac" property="mac"/>
        <result column="uuid" property="uuid"/>
        <result column="device_id" property="deviceId"/>
        <result column="firmware_type" property="firmwareType"/>
        <result column="activate_time" property="activateTime"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <!-- 新增设备激活信息 -->
    <insert id="addWristbandInfos">
        INSERT INTO t_wristband_info(id,user_id,mac,device_id,uuid,firmware_type,activate_time,create_date)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id},#{item.userId},#{item.mac},#{item.deviceId},#{item.uuid},
            #{item.firmwareType},#{item.activateTime},#{item.createDate})
        </foreach>
    </insert>

    <!--查询用户设备激活信息-->
    <select id="findWristbandInfos" resultMap="WristbandUserMap">
        SELECT id,user_id,mac,device_id,uuid,firmware_type,activate_time,create_date
        FROM t_wristband_info
        <where>
            <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">
                user_id = #{item.userId}
                and mac = #{item.mac}
            </foreach>
        </where>
    </select>
</mapper>